kind: Ingress 
apiVersion: extensions/v1beta1
metadata:
  name: hello-kubernetes-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: {{ k8s_namespace }}-nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
spec:
  rules:
    - host: {{ k8s_namespace }}.{{ dns_zone }}
      http:
        paths:
          - path: /
            backend:
              serviceName: hello-kubernetes
              servicePort: 8080
