kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: kubernetes-dashboard
  namespace: {{ k8s_namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ k8s_namespace }}-nginx
    nginx.ingress.kubernetes.io/backend-protocol: "https"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/server-snippet: |
      if (\$http_x_forwarded_proto = "http") {
        return 301 https://\$host\$request_uri;
      }
spec:
  rules:
    - host: {{ k8s_namespace }}.{{ dns_zone }}
      http:
        paths:
          - path: /
            backend:
              serviceName: kubernetes-dashboard
              servicePort: 443
