kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: kubernetes-dashboard
  namespace: {{ namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ namespace }}-nginx
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: https

spec:
  rules:
    - host: {{ namespace }}.{{ dns_zone }}
      http:
        paths:
          - path: /
            backend:
              serviceName: kubernetes-dashboard
              servicePort: 443
