apiVersion: v1
kind: ConfigMap
metadata:
  name: "nginx-ingress-{{ namespace }}-controller"
  namespace: "{{ namespace }}"
  labels:
    app.kubernetes.io/name: "nginx-ingress-{{ namespace }}-controller"
    app.kubernetes.io/part-of: "nginx-ingress-{{ namespace }}-controller"
data:
  use-forwarded-headers: "true"
  compute-full-forwarded-for: "true"
  use-proxy-protocol: "true"
  hsts: "true"
