apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-{{ k8s_namespace }}-controller
  namespace: {{ k8s_namespace }}
data:
  compute-full-forwarded-for: "true"
  use-forwarded-headers: "true"
  use-proxy-protocol: "true"
  hsts: "false"
  configuration-snippet: |
    if ($proxy_x_forwarded_proto = 'http') {"
      return 301 https://$host$request_uri;
    }
