apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-{{ k8s_namespace }}-controller
  namespace: {{ k8s_namespace }}
data:
  server-tokens: 'false'
  use-forwarded-headers: 'true'
  #use-proxy-protocol: 'true'
  compute-full-forwarded-for: 'true'
  hsts: 'false'
  whitelist-source-range: {{ load_balancer_source_ranges | join(",") }}
  configuration-snippet: >-
    if ( \$http_x_forwarded_proto = http ) {
      rewrite ^(.*) https://\$host\$1 permanent;
    }
