helm install --atomic --dep-up \
--name nginx-ingress-{{ namespace }} \
--namespace {{ namespace }} \
--set rbac.create=false \
--set controller.metrics.enabled=true \
--set controller.scope.namespace={{ namespace }} \
--set controller.ingressClass={{ namespace }}-nginx \
--set controller.service.targetPorts.http=80 \
--set controller.service.targetPorts.https=80 \
--set controller.service.annotations."{{ "service.beta.kubernetes.io/aws-load-balancer-type" | regex_escape() }}={{ elb_type }}" \
--set controller.service.annotations."{{ "service.beta.kubernetes.io/aws-load-balancer-ssl-ports" | regex_escape() }}=443" \
--set controller.service.annotations."{{ "service.beta.kubernetes.io/aws-load-balancer-ssl-cert" | regex_escape() }}={{ certificate_arn | regex_escape() }}" \
--set controller.service.annotations."{{ "service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled" | regex_escape() }}='true'" \
stable/nginx-ingress

#
#--set controller.scope.enabled=true \
#
